img {
  width: 100%;
}
#quantity {
  width: 75px;
}
input[type="number"] {
  text-align: right;
}
.img-xl {
  display: none;
  margin-top: 50px;
  min-width: 350px;
  max-width: 500px;
}
.titreDesc {
  padding: 35px 0 0 10px;
  text-transform: uppercase;
}
.prixDesc {
  font-weight: 600;
  font-size: 2em;
  padding-left: 10px;
}
.textDesc {
  font-weight: 600;
}
#quantity {
  width: 65px;
  font-weight: 600;
  margin: 10px 0 20px 5px;
  border: black solid 2px;
}
.boutonDesc {
  width: 80%;
  margin-left: 5px;
}
.img-xs {
  padding-top: 30px;
}
.ingredient {
  padding: 20px 0 0 5px;
}
.textIngredient {
  padding-top: 30px;
}
@media screen and (min-width: 767px) {
  .img-xl {
    display: block;
  }
  .img-xs {
    display: none;
  }
  .teste {
    max-width: 1360px !important;
    margin: auto !important;
  }
}
