.header {
  background-color: rgb(84, 192, 207);
}
.menu {
  padding: 0 !important;
  margin: 10px 5% 10px 5% !important;
}

.logo {
  width: 40px;
  padding-top: 0px;
  padding-left: 0px;
}

.panier {
  width: 20px;
  cursor: pointer;
}
li {
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.activeLink {
  font-weight: bold;
  color: #07c5fa;
}
.test {
  margin-bottom: 10px;
  color: black;
  text-decoration: underline;
}

.testpanier {
  display: flex;
  flex-direction: row;
}
.offcanvas-custom-width {
  width: 100% !important;
}
.offcanvasHeader {
  display: flex;
  flex-direction: column;
}

.offcanvasCloseButton {
  padding: 0;
  margin: 0;
  align-self: flex-start;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 10%;
  font-family: initial !important;
  line-height: 0.85 !important;
  padding: 3px;
}
.offcanvasHeader .offcanvasTitre {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .menu {
    font-size: 1.2em;
  }
  .navbar-collapse {
    flex-grow: 0 !important;
  }
  .navbar-nav {
    margin-left: auto !important;
  }
  .me-auto {
    margin-right: auto !important;
  }
  .visible {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .test {
    padding: 0 20px 0 0;
  }
}
@media screen and (min-width: 767px) {
  .offcanvas-custom-width {
    width: 50% !important;
  }
}
