.menu {
  padding: 0 !important;
  margin: 0 5% 0 5% !important;
}
@media screen and (min-width: 576px) {
  .menu {
    font-size: 1.2em;
  }
  .navbar-collapse {
    flex-grow: 0 !important;
  }
  .navbar-nav {
    margin-left: auto !important;
  }
  .me-auto {
    margin-right: auto !important;
  }
  .visible {
    display: none;
  }
}
.logo {
  width: 60px;
  padding-top: 0px;
  padding-left: 20px;
  /* position: absolute; */
}

.panier {
  width: 30px;
  cursor: pointer;
}
li {
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.activeLink {
  font-weight: bold;
  color: #07c5fa;
}
.lienMenu {
  margin-bottom: 10px;
}
@media screen and (min-width: 576px) {
  .lienMenu {
    padding: 0 20px 0 0;
  }
}
