.header {
  background-color: #ffd543;
  border: solid 3px #2c1e1e;
}
.menu {
  padding: 0 !important;
  margin: 10px 5% 10px 5% !important;
}

.logo {
  width: 40px;
  padding-top: 0px;
  padding-left: 0px;
}

.panier {
  width: 20px;
  cursor: pointer;
}
li {
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.activeLink {
  font-weight: bold;
  color: #07c5fa;
}
.menuNav {
  margin-bottom: 10px;
  color: black;
  text-decoration: underline;
  padding-left: 5px;
}
.offcanvas-custom-width {
  width: 100% !important;
}
.offcanvasHeader {
  display: flex;
  flex-direction: column;
  background-color: #55c0cf;
  border: #2c1e1e solid 2px;
  border-bottom: none;
}
.offcanvasCloseButton {
  padding: 0;
  margin: 0;
  align-self: flex-start;
  background-color: rgb(255, 213, 67);
  font-size: 2em;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 10%;
  font-family: initial !important;
  line-height: 0.85 !important;
  padding: 3px;
}
.offcanvasHeader .offcanvasTitre {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .menu {
    font-size: 1.2em;
  }
  .navbar-collapse {
    flex-grow: 0 !important;
  }
  .navbar-nav {
    margin-left: auto !important;
  }
  .me-auto {
    margin-right: auto !important;
  }
  .visible {
    display: none;
  }
  #basic-navbar-nav {
    border: none;
    background-color: rgb(255, 213, 67);
  }
}
@media screen and (min-width: 576px) {
  .menuNav {
    padding: 0 20px 0 0;
  }
}
@media screen and (min-width: 767px) {
  .offcanvas-custom-width {
    width: 50% !important;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 90% !important;
  }
}
.navBarOpen {
  border: solid 3px #2c1e1e;
  border-left: none;
  border-right: none;
  background-color: #55c0cf;
  margin: 10px -21px;
}
#basic-navbar-nav {
  margin-bottom: -20px;
}
.navbar-toggler {
  border: none !important;
}
.custom-toggler:focus {
  box-shadow: none !important;
}
.hautPanier {
  background-color: #b65f28;
  border: #2c1e1e solid 2px;
  max-height: 60%;
  overflow: auto;
}
.offcanvas-body {
  width: 100%; /* Ajustez cette ligne */
  padding: 0 !important; /* Ajustez selon vos besoins */
  background-color: #55c0cf;
}
.basPanier {
  text-align: center;
}
.totalPanier {
  padding-top: 20px;
  font-size: 1.5em;
}
.btnPanier {
  font-size: 1.2em;
  background-color: rgb(255, 213, 67);
  box-shadow: 3px 3px 3px #2c1e1e;
  border: #2c1e1e solid 3px;
  display: block;
  margin: 30px auto;
  width: 70%;
  height: 50px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.btnPanier:active {
  background-color: #ffcc00;
  box-shadow: none;
}
