.stylePanier {
  display: flex;
  margin: 20px 0;
}
.redButton {
  cursor: pointer;
  margin: auto 10px;
  color: red;
  font-size: 3em;
  font-weight: bold;
}
.imgPanier {
  width: 200px;
  height: auto;
  border: solid 2px #2c1e1e;
}
.descPanier p {
  padding-left: 10px;
  font-weight: 600;
}
.inputPanier {
  width: 45px;
  margin-left: 10px;
}
