.produit {
  max-width: 60%;
  height: auto;
  margin: 50px auto 10px;
  display: block;
}
.descProduit {
  text-align: center;
  margin: 0;
}
.descProduit h4,
.descProduit p,
.descProduit button {
  margin: 0;
  font-weight: 600;
}
